body{
    color: white;
    width: 100%;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    background: linear-gradient(#094B8E,#1582C1); /* setting the gradient background */  

}

.fullscreen {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}

img.loadingimg {
    min-width:  100%;
    min-height: 100%;
}