@import url("https://fonts.googleapis.com/css?family=Lato");



.main-wrapper {
    
    max-height: 100vh;
    height: 100vh; 
    margin: 0 auto; 
    font-family: Lato;
    padding-left: 10%;
    padding-right: 10%;        
}

.main-wrapper-inner{
    /* use this to bring it down for larger phone sizes */
    /* padding-top: 10%; */
}

body{
    color: white;
    width: 100%;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    background: linear-gradient(#094B8E,#1582C1); /* setting the gradient background */
}

.logo-top {
    padding-top: 10%;
}

h3.title-text {
    font-size: 16px;    
    letter-spacing: 1.4pt;
    font-weight: 100;
    
}

p.btn-text{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

p.sub-text {    
    text-align: left;  
    width: 70%;  
    line-height: 20px;
}

p {
    font-size: 12px;
}

.btn-inner{
    text-align: center;
}

.btn {
    padding-top: 5%;
    background: rgba(255,255,255,0.34);
    border-radius: 5pt;
    cursor: pointer;
}

.action-button-section{
    position: relative;
    margin: auto;
    top: 35px;
}

.scan-btn{
    text-align: center;      
    background: #dddddd;
    border-radius: 100px;    
    /* max-height: 30px; */
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    bottom: 10%;
    width: 80%;
    
}

.scan-btn input {
    opacity: 0;
    background-color: black;
}

.scan-btn-inner{
    
    position: relative;
    margin: auto;
    height: 100%; 
    width: 50%;   
    text-align: center;
    
}

h5.scan-text {
    
    color: white;
    letter-spacing: 1.56pt;
}

.hiddenInput{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    font-size: 50px;
    overflow: hidden;
}


/* CSS for ConfirmView.html */

.top-nav{
    margin: 0 auto;
    background: linear-gradient(#094B8E,#1582C1);
    width: 100%;     
    color: white;        
}

.main-wrapper-white {
    
    max-height: 100vh;
    height: 100vh; 
    margin: 0 auto; 
    font-family: Lato;
    background: white;    
    color: black;
    
            
}

.top-nav-items{
    position: relative;
    bottom: 15px;
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    

}

.logo {
    float: left;
    position: relative;
    top: 9px;
    
}

.logo-text {
    float: left;
    padding-left: 2.5%;     
   
}

img.logo-img {
    width: 35px;
    
}

p.logo-text-p {
   text-align: center; 
   letter-spacing: 1.1pt;

}   

.id-section{
    position: relative;
    float: left;
    text-align: center;
    left: 15%;
}

.licence-section{
    position: relative;
    float: right;
    right: 15%;
}

.main-wrapper-inner-confirm{
    padding-top: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}

.profile-img{
    border-radius: 50%;
    width: 100px;
}

.licence-img{
    width: 100%;
    height: 200px;
    object-fit: none;
    object-position: 0px 0px 30px 100px;
    margin-top: 5%;
}

.result-section{
    
    text-align: center;
}

.scn-btn-done{
    position: fixed;
    width: 95%;
   background: #094B8E;  
   text-align: center; 
   border-radius: 40px;
   margin-top: 10%;
   padding-top: 2%;
   padding-bottom: 2%;
   color: white;
   bottom: 3%;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

p.done-text {
    letter-spacing: 1.2pt;
    font-weight: bold;
}
    

@media only screen and (max-height: 600px) {
    .main-wrapper-inner{
        /* for iphone 5 or lower screen res */
        /* padding-top: 0%;  */       
    }

    .action-button-section{
        top: 5px;
    }

    .scan-btn{
        bottom: 5%;
    }
}

p.blue-res {
    color: #094B8E;
    font-weight: bold;
}

span.white-res {
    color: black;
    font-weight: normal;
}

p.score-res {
    font-size: 35px;
}

@media only screen and (min-height : 700px){
    
    /* for Iphone X / google pixel2 */

    .header{
        
        /* margin-bottom: 25%;      */  
        
    }   
}

@media only screen and (min-width : 1500px){

    .scan-btn{
        
        position: absolute;
        bottom: 1%;
        width: 80%;
        
    }

    .action-button-section{
        padding-bottom: 10000px;
    }
}
    

    
    