@import url("https://fonts.googleapis.com/css?family=Lato");



.main-wrapper {
    
    max-height: 100vh;
    height: 100vh; 
    margin: 0 auto; 
    font-family: Lato;
    padding-left: 10%;
    padding-right: 10%;        
}

.main-wrapper-inner{
    /* use this to bring it down for larger phone sizes */
    padding-top: 10%;
}

body{
    color: white;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(#094B8E,#1582C1); /* setting the gradient background */
}

.logo-top {
    padding-top: 10%;
}

h3.title-text {
    font-size: 16px;    
    letter-spacing: 1.4pt;
    font-weight: 100;
    
}

p.btn-text{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

p.sub-text {    
    text-align: left;  
    width: 70%;  
    line-height: 20px;
}

p {
    font-size: 12px;
}

.btn-inner{
    text-align: center;
}

.btn {
    padding-top: 5%;
    background: rgba(255,255,255,0.34);
    border-radius: 5pt;
}

.action-button-section{
    padding-top: 5%;
}

.scan-btn{
    text-align: center;      
    background: #dddddd;
    border-radius: 100px;    
    /* max-height: 30px; */
    margin-top: 20%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}

.scan-btn-inner{
    height: 60px;
    
}

h5.scan-text {
    position: relative;
    top: 35%;
    color: white;
    letter-spacing: 1.56pt;
}
    

@media only screen and (max-height: 600px) {
    .main-wrapper-inner{
        /* for iphone 5 or lower screen res */
        padding-top: 0%;        
    }

    .scan-btn{
        margin-top: 10%;
    }
}

@media only screen and (min-height : 700px){
    
    /* for Iphone X / google pixel2 */

    .header{
        
        margin-bottom: 25%;       
        
    }   
}
    
    